In [ ]:
lst1 = [1,2,4,5] #list
dct1 = {'one': 1, 'two':2, 'three':3} #dictionary 
tup1 = (1,2,3,4,5) #tuple
set1 = {1,2,3,4} # set

In [ ]:
lst1[1] = 2 # use index position to access the value 
dct1['two']=2 #use the key name to access the value 
#tup1[1]=2 # use index position to access the value - Items can't be altered in a tuple 
#set does not support indexing in python

In [ ]:
import pandas as pd
data = [[1,2],[3,4]] #a nested list (a list containing 2 lists) 
df = pd.DataFrame([[1,2],[3,4]], columns=['Col1','Col2'])
print(df)

In [ ]:
print('Return:\n',df['Col2']) #will return all values in Col2
print('will return the value at index 0 of Col2:',df['Col2'][0]) #will return the value at index 0 of Col2 
#Using iloc in DataFrame to access values
print('will return the value 2:',df.iloc[0,1]) #will return the value 2

'iloc' has two arguments, the first one is for rows and the second one is for columns. 0 in the above code gets the elements of the 0th index and 1 is for the second column in the data frame df.

In [ ]:
df.iloc[:,1] #will give all rows of Col2
df.iloc[:,:] #will give all rows and columns 
df.iloc[1,:] #will give all columns and second row

In [ ]:
import numpy as np
#help(np.array)
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])
arr[0:2, 1:4]

In [ ]:
#?np.linspace
np.linspace(10,20,4, endpoint = False)

In [ ]:
df = pd.DataFrame([[4, 9],[3,6],[7,8]], columns=['A', 'B'])
print(df)
df['A'].apply(np.sqrt)

In [ ]:
df = pd.DataFrame([[4, 9],[3,6],[7,8]], columns=['A', 'B'])
print(df)
df.apply(np.sqrt)