#### <center>PYTHON FUNDAMENTALS</center>
#### <center>Msc. PgP Andrés Felipe Rojas Parra</center>

## Project Description
Review of Python basics

## Project Objective
- Data structures in Python (lists, dictionaries, pandas DataFrames).
- Introduction to key libraries: pandas, NumPy, and matplotlib.
- Data cleaning and transformation.
- Visualization tools: matplotlib and seaborn.

## Data Source Description
Since variables, functions, procedures, classes, and so on are handled, we do not have a data source.

## Introduction to variables in Python

### Create variables and execute mathematical functions.

In [77]:
# Create an integer variable
a = 10

# Create a floating-point variable
b = 5.1

# Add the two variables
sum = a + b

# Print the result of the addition
print("Result of addition: ", sum)

Result of addition:  15.1

In [78]:
print("Variable type for variable a: ", type(a))
print("Variable type for variable b: ", type(b))
print("Variable type for variable suma: ", type(sum))

Variable type for variable a:  <class 'int'>
Variable type for variable b:  <class 'float'>
Variable type for variable suma:  <class 'float'>

### Compare values ​​and variables.

In [79]:
5 == (6 - 1)

True

In [80]:
sum >= a + b

True

### Adding a value to a variable.

In [81]:
# Adding the value 45 to the variable sum
sum = sum + 45

# Print the result of the sum
print("Sum result: ", sum)

Sum result:  60.1

### Converting from integer to floating point.

In [82]:
# Changing the data type of variable a
a = float(a)

print("Variable type for variable a: ", type(a))

Variable type for variable a:  <class 'float'>

In [83]:
a

10.0

In [84]:
# Changing the data type of variable C
b = str(b)

print("Variable type for variable  b: ", type(b))

Variable type for variable  b:  <class 'str'>

In [85]:
b

'5.1'

In [86]:
a + b

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [87]:
b = float(b)

print("Variable type for variable b: ", type(b))

Variable type for variable b:  <class 'float'>

In [88]:
a + b

15.1

In [89]:
aa = 10
print("Let's multiply aa by 5: ", aa*5)

Let's multiply aa by 5:  50

In [90]:
print(f"Let's multiply aa with value: {aa}, by 5 and the final value is: {aa*5}")

Let's multiply aa with value: 10, by 5 and the final value is: 50

### Calculate the value of z in the following expression: z = (v + w) * (x / y)
Given the previous expression, v = 10, w = 25, x = 70, y = 2

In [91]:
# Assigning values ​​to variables based on given information

v = 10
w = 25
x = 70
y = 2

In [92]:
z = (v + w) * (x / y)

In [93]:
print(f"The calculated value of z is: {z}")

The calculated value of z is: 1225.0

### Swap the values ​​of a and b
If before swapping a = 10 and b = 5  
Then after swapping a = 5 and b = 10

In [94]:
a = 10
b = 5
print("A and B before swapping {}, {}".format(a, b))

A and B before swapping 10, 5

In [95]:
temp = a
a = b
b = temp

print("A and B after swapping {}, {}".format(a, b))

A and B after swapping 5, 10

## Collection of variables

### Create a list of repeated elements (value 2 we will repeat it 48 times)

In [96]:
# List containing 48 times the number 2. Its length is 48 positions.
repeated_list = [2] * 48
print(repeated_list)

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [97]:
len(repeated_list)

48

### Given the following line of code: 
repeated_list = ["apples", "orange", "grapes", "watermelon", "peach", "kiwi", "banana", "pear", "plum", "cherry"]


- What type of data structure is repeated_list?
- Add a new fruit of your choice to the end of the list. Display (print) the updated list.
- Add another different fruit to the list, and again print the content.
- Remove any fruit you want from the list (it can be any fruit currently present). Display the final content of the list.

In [98]:
repeated_list = ["apples", "orange", "grapes", "watermelon", "peach", "kiwi", "banana", "pear", "plum", "cherry"]

In [99]:
print(repeated_list)

['apples', 'orange', 'grapes', 'watermelon', 'peach', 'kiwi', 'banana', 'pear', 'plum', 'cherry']

In [100]:
# Trying to display an index that does not currently exist in the list
print(repeated_list[24])

IndexError: list index out of range

In [101]:
# Adding another fruit
repeated_list.append("strawberries")

In [102]:
len(repeated_list)

11

In [103]:
print(repeated_list[8])

plum

In [104]:
for index in repeated_list:
    print(index)

apples
orange
grapes
watermelon
peach
kiwi
banana
pear
plum
cherry
strawberries

In [105]:
# Adding another fruit
repeated_list.append("blueberries")

In [106]:
for index in repeated_list:
    print(index)

apples
orange
grapes
watermelon
peach
kiwi
banana
pear
plum
cherry
strawberries
blueberries

In [107]:
# removing the apples
repeated_list.remove("apples")

In [108]:
for index in repeated_list:
    print(index)

orange
grapes
watermelon
peach
kiwi
banana
pear
plum
cherry
strawberries
blueberries

### Write a Python code to print the squares of all numbers present in a list = [1, 12, 24, 36, 11, 20,50]

In [109]:
list_numbers = [1, 12, 24, 36, 11, 20,50]

In [110]:
for i in list_numbers:
    squares = i * i
    print(f"The square value of {i} is: {squares}")

The square value of 1 is: 1
The square value of 12 is: 144
The square value of 24 is: 576
The square value of 36 is: 1296
The square value of 11 is: 121
The square value of 20 is: 400
The square value of 50 is: 2500

### Create a dictionary with the following information
- brand = Audi
- model = Q5
- year = 2024

In [111]:
car_dictionary = {"brand":"audi","model":"q5", "year":"2024"}

In [112]:
print(car_dictionary)

{'brand': 'audi', 'model': 'q5', 'year': '2024'}

In [113]:
car_dictionary["year"] = "2022"

In [114]:
print(car_dictionary)

{'brand': 'audi', 'model': 'q5', 'year': '2022'}

In [115]:
print(car_dictionary["year"])

2022

### Create a dataset

In [116]:
dataset = {1.0, "Hello", 55, (6,7,8)}

In [117]:
print(dataset)

{1.0, (6, 7, 8), 'Hello', 55}

In [118]:
type(dataset)

set

In [119]:
for datatype in dataset:
    print(f"The data type for {datatype} is: {type(datatype)}")

The data type for 1.0 is: <class 'float'>
The data type for (6, 7, 8) is: <class 'tuple'>
The data type for Hello is: <class 'str'>
The data type for 55 is: <class 'int'>

## Conditionals

#### Condicional IF

In [120]:
if sum >= a*b:
    print("The value of sum is greater than or equal to a*b")
else:
    print("The value of sum is less than a*b")

The value of sum is greater than or equal to a*b

### Check if the area of ​​the rectangle is greater than the perimeter of the rectangle.
- length = 5
- width = 10
- **Hint:** Area of ​​the rectangle = length * width
- **Hint:** Perimeter of the rectangle = 2 * (length + width)

In [121]:
length = 5
width = 10

rectangle_area = length * width
rectangle_perimeter = 2 * (length + width)

if rectangle_area > rectangle_perimeter:
    print("The area of ​​the rectangle is greater than the perimeter of the rectangle")
else:
    print("The perimeter of the rectangle is greater than the area of ​​the rectangle.")

The area of ​​the rectangle is greater than the perimeter of the rectangle

### Calculate a student's average grades across 5 subjects and assign grades

- average > 90, Grade = A
- average > 80, Grade = B
- average > 70, Grade = C
- average > 60, Grade = D
- average > 50, Grade = E
- Otherwise, the class was below the overall course average

* pepito = 72
* perez = 85
* andy = 96
* phill = 42
* reds = 95

In [122]:
pepito = 72
perez = 85
andy = 96
phill = 42
reds = 95

average = (pepito + perez + andy + phill + reds)/5

In [123]:
average

78.0

In [124]:
if average > 90:
    print("Grade = A")
elif average > 80:
    print("Grade = B")
elif average > 70:
    print("Grade = C")
elif average > 60:
    print("Grade = D")
elif average > 50:
    print("Grade = E")
else:
    print("The class was below the overall average for the course")

Grade = C

## Looping

### Print numbers from -10 to 10 with an interval of 1 using the ***for*** loop

In [125]:
for i in range(-10, 10, 1):
    print("Value:", i)

Value: -10
Value: -9
Value: -8
Value: -7
Value: -6
Value: -5
Value: -4
Value: -3
Value: -2
Value: -1
Value: 0
Value: 1
Value: 2
Value: 3
Value: 4
Value: 5
Value: 6
Value: 7
Value: 8
Value: 9

### Print the cubed value of numbers from -10 to 10 with an interval of 1 using ***for*** loop.

In [126]:
for i in range(-10, 11, 1):
    print(f"The cubed value of {i} is: {i**3}")

The cubed value of -10 is: -1000
The cubed value of -9 is: -729
The cubed value of -8 is: -512
The cubed value of -7 is: -343
The cubed value of -6 is: -216
The cubed value of -5 is: -125
The cubed value of -4 is: -64
The cubed value of -3 is: -27
The cubed value of -2 is: -8
The cubed value of -1 is: -1
The cubed value of 0 is: 0
The cubed value of 1 is: 1
The cubed value of 2 is: 8
The cubed value of 3 is: 27
The cubed value of 4 is: 64
The cubed value of 5 is: 125
The cubed value of 6 is: 216
The cubed value of 7 is: 343
The cubed value of 8 is: 512
The cubed value of 9 is: 729
The cubed value of 10 is: 1000

### Using the ***while*** loop, the numbers from 1 to 10 are printed.

In [127]:
n = 10
i = 1
while i <= n:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10

### Using the ***for*** loop, print the first ten even numbers.

In [128]:
for i in range(1, 21):
    if i%2 == 0:
        print("Even number: ", i)

Even number:  2
Even number:  4
Even number:  6
Even number:  8
Even number:  10
Even number:  12
Even number:  14
Even number:  16
Even number:  18
Even number:  20

### Using the ***while*** loop, generate the 5-table

In [129]:
n = 5
i = 1

while i <= 10:
    print("{} * {} =".format(n, i), n*i)
    i = i+1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

### Count the number of vowels in a string.

String = "Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day."  
Vowels = ?

In [130]:
string = "Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day."
vowelCount = 0

print("Normal string: ", string)

string = string.lower()

print("Lowercase string: ", string)

for i in string:
    if i == "a" or i=="e" or i=="i" or i=="o" or i=="u":
        vowelCount = vowelCount + 1

print("Number of vowels in string = ", vowelCount)

Normal string:  Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Lowercase string:  artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Number of vowels in string =  48

### Print the value of a string 15 times using ***for*** and ***while***

string = "Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day."

In [131]:
string = "Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day."

for i in range(0, 15):
    print(string)

Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.

In [132]:
string = "Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day."

i=1

while i<=15:
    print(string)
    i = i+1

Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.
Artificial intelligence allows computers to solve complex problems and process natural language with remarkable speed and accuracy every single day.

## Python's Functions

User-defined functions and LAMBDA functions exercises

### Write a function that receives two parameters, a and b, where b has the default value of 1, to add, subtract, multiply, and divide two variables that are passed to it and print the result.

In [133]:
def calculate(a, b=1):
    addition = a + b
    subtraction = a - b
    multiplication = a * b
    division = a / b if b != 0 else "Division by zero is not allowed"
    
    print(f"Addition: {addition}")
    print(f"Subtraction: {subtraction}")
    print(f"Multiplication: {multiplication}")
    print(f"Division: {division}")

In [134]:
calculate(10, 5)

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0

In [135]:
calculate(36)  # Using default value for b

Addition: 37
Subtraction: 35
Multiplication: 36
Division: 36.0

### Write a Python function that, given the range from 1 to 10, calculates the square of each number. It should print the resulting value and not return a number. This function should not receive any parameters.

In [136]:
def calculate_squares():
    for i in range(1, 11):
        square = i * i
        print(f"The square of {i} is: {square}")

In [137]:
calculate_squares()

The square of 1 is: 1
The square of 2 is: 4
The square of 3 is: 9
The square of 4 is: 16
The square of 5 is: 25
The square of 6 is: 36
The square of 7 is: 49
The square of 8 is: 64
The square of 9 is: 81
The square of 10 is: 100

### Write a Python function that, given the range passed as a parameter, calculates the square of each number. It should print the resulting value and not return a number.

In [138]:
def calculate_squares_in_range(start, end):
    for i in range(start, end + 1):
        square = i * i
        print(f"The square of {i} is: {square}")

In [139]:
calculate_squares_in_range(1, 10)

The square of 1 is: 1
The square of 2 is: 4
The square of 3 is: 9
The square of 4 is: 16
The square of 5 is: 25
The square of 6 is: 36
The square of 7 is: 49
The square of 8 is: 64
The square of 9 is: 81
The square of 10 is: 100

### Write a function to calculate simple interest

Simple interest = (Principal amount * Annual interest rate * Time (in years))/100

Principal amount = 10000  
Interest rate = 14%  
Time: 5 years

In [140]:
# Write a function to calculate simple interest
def calculate_simple_interest(principal, rate, time):
    interest = (principal * rate * time) / 100
    return interest

In [141]:
# Example usage of the simple interest function
principal_amount = 1000
rate_of_interest = 14
time_period = 5

simple_interest = calculate_simple_interest(principal_amount, rate_of_interest, time_period)
print(f"The simple interest for a principal amount of {principal_amount}, rate of interest {rate_of_interest}%, and time period {time_period} years is: {simple_interest}")

The simple interest for a principal amount of 1000, rate of interest 14%, and time period 5 years is: 700.0

In [142]:
principal_amount = 1000
rate_of_interest = 3
time_period = 4
simple_interest = calculate_simple_interest(principal_amount, rate_of_interest, time_period)
print(f"The simple interest for a principal amount of {principal_amount}, rate of interest {rate_of_interest}%, and time period {time_period} years is: {simple_interest}")

The simple interest for a principal amount of 1000, rate of interest 3%, and time period 4 years is: 120.0

### Write a function to check that the number passed as a parameter is divisible by 25. The function should return **True** if it is divisible and "Not divisible" if it is not.

In [143]:
# Write a function to check that the number passed as a parameter is divisible by 25. The function should return **True** if it is divisible and "Not divisible" if it is not.
def is_divisible_by_25(number):
    if number % 25 == 0:
        return True
    else:
        return "Not divisible"

# Example usage of the divisibility function
number = 100
result = is_divisible_by_25(number)
print(f"Is {number} divisible by 25? {result}")

Is 100 divisible by 25? True

In [144]:
# Example usage of the divisibility function
number = 49
result = is_divisible_by_25(number)
print(f"Is {number} divisible by 25? {result}")

Is 49 divisible by 25? Not divisible

In [145]:
# Example usage of the divisibility function
number = 75
result = is_divisible_by_25(number)
print(f"Is {number} divisible by 25? {result}")

Is 75 divisible by 25? True

### Lambda Functions
#### Lambda 1: Using the **lambda** function, perform the following task:
*Take a parameter, square it, add 5, and then return the answer*

In [146]:
def square_and_add_five(x):
    return (lambda x: x**2 + 5)(x)

In [147]:
# Example usage of the square and add function
result = square_and_add_five(4)
print(f"The result of squaring 4 and adding 5 is: {result}")

The result of squaring 4 and adding 5 is: 21

In [148]:
# Example usage of the square and add function
result = square_and_add_five(9)
print(f"The result of squaring 9 and adding 5 is: {result}")

The result of squaring 9 and adding 5 is: 86

#### Lambda 2: Using the **lambda** function, perform the following task:
*Take two parameters, multiply them together, add 10, and then return the answer*

In [149]:
# Using the **lambda** function, perform the following task: Take two parameters, multiply them together, add 10, and then return the answer
multiply_and_add_ten = lambda x, y: (x * y) + 10

# Example usage of the multiply and add function
result = multiply_and_add_ten(3, 4)
print(f"The result of multiplying 3 and 4, then adding 10 is: {result}")

The result of multiplying 3 and 4, then adding 10 is: 22

In [150]:
# Example usage of the multiply and add function
result = multiply_and_add_ten(19, 37)
print(f"The result of multiplying 19 and 37, then adding 10 is: {result}")

The result of multiplying 19 and 37, then adding 10 is: 713

#### Lambda 3: Using the **lambda** function, perform the following task:
*Take a parameter, identify if it is divisible by 25, if so return **True**, otherwise return **False** and then return the answer*

In [151]:
# Using the **lambda** function, perform the following task: Take a parameter, identify if it is divisible by 25, if so return **True**, otherwise return **False** and then return the answer
is_divisible_by_25_lambda = lambda x: True if x % 25 == 0 else False

# Example usage of the divisibility lambda function
result = is_divisible_by_25_lambda(100)
print(f"Is 100 divisible by 25? {result}")

Is 100 divisible by 25? True

In [152]:
# Example usage of the divisibility lambda function
result = is_divisible_by_25_lambda(87)
print(f"Is 100 divisible by 25? {result}")

Is 100 divisible by 25? False